body{
    width:800px;
    margin:0 300px;
   
}
/*设置内容区加样式，不然整个屏幕都有背景色*/
#main{            
	background-color: #ECF5FF;
	 padding: 30px 150px;
	 
}

h1{
	font-size: 4em;
	color:#94B3ED;
	padding-left: 30px;
}

.textname{
	font-size: 1.2em;
	text-align: right;

}
input{
	width:200px;
    height: 30px;
	
    
}
.textcheck{
	padding:20px;
	text-align: right;
	margin-right: 150px;

}
.tip{
	padding-left: 30px;
	
}


button{
	font-weight: bold;
	display: block;
	width:50px;
	height:28px;
	background-color: #40A3EF;
	width:80px;
	height:30px;
	margin:20px 150px;/*设置间距，不能用padding*/
}